---
title: My Iron Yard Odyssey - git/GitHub
---

<!-- Add your site or application content here -->

<div id="container">

	<%= partial "/layouts/partials/header" %>

	<div id="content-container1">
		<div id="content-container2">
			<div id="section-navigation">
				<br>
				<br>
				<br>
				<br>

				<ul>
					<b>
					<li><a href="#"></a></li>
					<li><a href="#"></a></li>
					</b>
				</ul>
			</div>

			<div id="content">
				<h2>
					git & GitHub
				</h2>
			
			<hr>	
			
			Purpose
			<br>
			workflow: add -> commit -> push -> pull request -> merge
			<br>
			repositories
			<br>
			branches
			<br>
			cloning
			<br>
			remote repositories
			<br>
			arguments to git functions
			<br>
			TryGit (try.github.io)

				
			</div>

			<%= partial "/layouts/partials/footer" %>
		</div>
	</div>	
</div>