---
title: My Iron Yard Odyssey - Home
---

<!-- Add your site or application content here -->

<div id="container">

	<%= partial "/layouts/partials/header" %>

		<div id="content">
			<h2>
				Ground Zero
			</h2>
			<p>
				Maybe an embedded Prince "Let's Go Crazy" video...but hard to find on YouTube...
			</p>
		
		</div>
	
		<%= partial "/layouts/partials/footer" %>
		

</div>