---
title: My Iron Yard Odyssey - Home
---

<!-- Add your site or application content here -->

<div id="container">

	<%= partial "/layouts/partials/header" %>

		<div id="content">
			<h2>
				Weekend Project
			</h2>
			<p>
				Tasks
					<ul>
						<li>Sketch out ideas for how to organize your site</li>
						<li>Read up on what Middleman can do for you</li>
						<li>Sketch out what different pages in your site might look like/contain</li>
						<li>Decide how fancy-looking you can reasonably expect to get in a weekend</li>
						<li>Write a lot of erb/html which reflects everything you know about this stuff</li>
					</ul>
			</p>
		
		</div>
	
		<%= partial "/layouts/partials/footer" %>
		

</div>