
	<div id="header">
		<h1>
			My Iron Yard Odyssey
		</h1>
		<h3>
			What I've Learned Along the Way
		</h3>
	</div>
	<div id="navigation">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li><a href="ruby.html">Ruby</a></li>
			<li><a href="#">Projects</a></li>
			<li><a href="#">git/GitHub</a></li>
			<li><a href="#">HTML/CSS</a></li>
			<li><a href="#">Other Useful Info</a></li>
		</ul>
	</div>